<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="block/head.html :: head"></head>
<body>
    <div class="container">
        <div th:replace="block/navbar.html :: navbar"></div>
        <div class="p-4 d-flex justify-content-center">
            <div>Добро пожаловать, <span th:text="${user.username}"></span>!</div>
        </div>
        <a th:href="@{|/accident/create|}">
            <button type="button" class="btn btn-secondary">Добавить инцидент</button>
        </a>
    </div>
</body>
</html>